body {
    margin: none;
}

nav  {
    background-color: #C4DAD2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid #16423C;
    border-radius: 10px 100px;
}

footer {
    border: 5px solid #16423C;
    background-color: #C4DAD2;
    border-radius: 100px 10px;
    display: flex;
    justify-content: center;
}

.splash {
    
    color: #5db59f;

}

