body {
    margin: none;
    background-color: #c9cad5;
}

nav  {
    background-color: #C4DAD2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid #19695e;;
    border-radius: 10px 100px;
}

nav:hover {
    border: 5px solid #55b1e6;
}

footer {
    margin-top: 10px;;
    border: 5px solid #16423C;
    background-color: #C4DAD2;
    border-radius: 100px 10px;
    display: flex;
    justify-content: center;
}
 
.splash {
    display: grid;
    grid-template-columns: 42.5% auto auto;
    grid-template-rows: auto auto auto;
} 

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
  
    font-style: normal;
    grid-column: 2;
    color:#19695e;
  }
  
.anton-regular:hover {
    color: #55b1e6;
    font-size: 30px;
    text-transform:uppercase;
}
.new-amsterdam {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#08907e;
}

h2.new-amsterdam  {
    text-align: center;
}

.new-amsterdam:hover {
    color: #55b1e6;
}

.headshot {
    grid-row: 2;
    grid-column: 2;
    border-radius: 60px;
    margin: 10px;
    box-shadow: 5px 7px #19695e;
}

.headshot:hover {
    box-shadow: 5px 7px #55b1e6;
}

.tagline {
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #19695e;
    grid-row: 3;
    grid-column: 1;
    background-color: #C4DAD2;
 }

.address {
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #19695e;
    grid-row: 3;
    grid-column: 3;
    background-color: #C4DAD2;
}

.address:hover {
    border-color: #55b1e6;
}
.tagline:hover {
    border-color: #55b1e6;
}

hr {
    margin-top: 20px;
    width: 600px;
    color: #19695e;
}

.bubble {
    margin:auto;
    border-radius: 10px;
    padding:17px;
    background-color: #C4DAD2;
    box-shadow: 5px 7px #19695e;
    width: 50%;
    
}

.bubble:hover {
    box-shadow: 5px 7px #55b1e6;
}

.u_lists {
    list-style: circle;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
}

a {
    text-decoration: none;

    text-shadow: 1px 1px #c9cad5;
    color:rgba(0, 0, 0, 0.717);
    
}

a:hover {
    text-shadow: -10px 5px rgb(255, 255, 255);
    font-size: 12px;
}


.three-col {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 10% 1fr 15%;
    gap: 10px;
}

.card {
    grid-row: 2;
    margin-left: 30px;;
    background-color: #C4DAD2;
    border-radius: 20px;
    box-shadow: 5px 5px #19695e;
    box-shadow: 0cm;
    width: 75%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    outline: 2px #16423C;
    
}

.card > img {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width:100%;
    height: 175px;
}

.one-col {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 10px;
}

.one-col label {
    grid-column: 1;
}

textarea {
    background-color: aliceblue;
    border-radius: 10%;
    outline: 3px solid #629ae8;
}

input {
    background-color: aliceblue;
    border-radius: 10%;
    outline: 3px solid #629ae8;
}
  

